# Auto detect text files and perform LF normalization
* text=auto
*.dll !text !filter !merge !diff
*.exe !text !filter !merge !diff
*.lib !text !filter !merge !diff
*.so !text !filter !merge !diff
*.exr !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.ora !text !filter !merge !diff
*.png !text !filter !merge !diff
*.psd !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.tif !text !filter !merge !diff
*.tiff !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.max !text !filter !merge !diff
*.mb !text !filter !merge !diff
*.zbr !text !filter !merge !diff
*.ztl !text !filter !merge !diff
*.raw3d !text !filter !merge !diff
*.DLL !text !filter !merge !diff
*.EXE !text !filter !merge !diff
*.LIB !text !filter !merge !diff
*.SO !text !filter !merge !diff
*.EXR !text !filter !merge !diff
*.JPG !text !filter !merge !diff
*.ORA !text !filter !merge !diff
*.PNG !text !filter !merge !diff
*.PSD !text !filter !merge !diff
*.TGA !text !filter !merge !diff
*.TIF !text !filter !merge !diff
*.TIFF !text !filter !merge !diff
*.MP3 !text !filter !merge !diff
*.WAV !text !filter !merge !diff
*.FBX !text !filter !merge !diff
*.MAX !text !filter !merge !diff
*.MB !text !filter !merge !diff
*.ZBR !text !filter !merge !diff
*.ZTL !text !filter !merge !diff
*.RAW3D !text !filter !merge !diff
